<div class="page-header" data-parallax="true"
    style="background-image: url('../../../../assets/img/sembrador/biblia.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h3>"Jesús le dijo: Yo soy el camino, y la verdad, y la vida; nadie viene al Padre, sino por mí"
                Juan 14:6
            </h3>
            <br />
            <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
            <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">MISIÓN</h2>
                    <h5 class="description">Predicar el evangelio por medio de la palabra de Dios con tal efectividad
                        que transforme, restaure, sane y libere personas que necesitan de Dios, consolidándolas,
                        discipulándolas y sirviéndoles para que cumplan su propósito en Cristo Jesús y así puedan
                        transformar cada una de sus comunidades.</h5>
                    <br>
                    <a href="#paper-kit" class="btn btn-danger btn-round">El Sembrador</a>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <img src="../../../../assets/img/sembrador/jovenes.jpg" alt="Logo"
                                style="height: 180px; border-radius: 20px;">
                        </div>
                        <div class="description">
                            <h4 class="info-title">Jovenes el Sembrador</h4>
                            <p class="description">¿Cómo puede el joven llevar una vida íntegra? Viviendo conforme a tu
                                palabra.
                            </p>
                            <p class="description">Salmo 119:9
                            </p>
                            <a href="#pkp" class="btn btn-link btn-danger">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <img src="../../../../assets/img/sembrador/ninos.jpg" alt="Logo"
                                style="height: 180px; border-radius: 20px;">
                        </div>
                        <div class="description">
                            <h4 class="info-title">Sembrador Kids</h4>
                            <p>Instruye al niño en el camino correcto, y aun en su vejez no lo abandonará.</p>
                            <p>Proverbios 22:6</p>
                            <a href="#pkp" class="btn btn-link btn-danger">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <img src="../../../../assets/img/sembrador/misiones.jpg" alt="Logo"
                                style="height: 180px; border-radius: 20px;">
                        </div>
                        <div class="description">
                            <h4 class="info-title">Obra Misionera</h4>
                            <p>Proclamad entre las naciones su gloria, En todos los pueblos sus maravillas.</p>
                            <p>Salmos 96:3</p>
                            <a href="#pkp" class="btn btn-link btn-danger">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <img src="../../../../assets/img/sembrador/mujeres.jpg" alt="Logo"
                                style="height: 180px; border-radius: 20px;">
                        </div>
                        <div class="description">
                            <h4 class="info-title">Vasijas</h4>
                            <p>Mujer ejemplar, ¿dónde se hallará? ¡Es más valiosa que las piedras preciosas!.</p>
                            <p>Proverbios 31:10</p>
                            <a href="#pkp" class="btn btn-link btn-danger">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">¡Te estamos esperando!</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a><img src="./assets/img/sembrador/pastor.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a>
                                <div class="author">
                                    <h4 class="card-title">William Rodríguez</h4>
                                    <h6 class="card-category">Pastor</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Que la gracia y paz de nuestro Señor Jesucristo sean con ustedes.
                                En esta casa de fe, creemos en el poder transformador del Evangelio.
                                Aquí encontrarás un refugio para tu alma, alimento espiritual para
                                tu caminar y una familia que te recibe con los brazos abiertos.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"> <i
                                    class="fab fa-instagram"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"> <i
                                    class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a><img src="./assets/img/sembrador/pastora.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a>
                                <div class="author">
                                    <h4 class="card-title">Ludvia Moreno</h4>
                                    <h6 class="card-category">Pastora</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Bienvenidos a la iglesia El Sembrador, un espacio donde encontrara una
                                familia, donde crecerá a través de la sana enseñanza
                                centrada en la palabra de Dios, y una adoración donde
                                su enfoque es Cristo trayendo el cielo a la tierra.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"> <i
                                    class="fab fa-instagram"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"> <i
                                    class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a><img src="./assets/img/sembrador/samuel.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a>
                                <div class="author">
                                    <h4 class="card-title">Samuel Jimenez</h4>
                                    <h6 class="card-category">Pastor</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                En la Iglesia Cristiana El Sembrador creemos que Dios tiene un
                                propósito para tu vida y queremos caminar contigo en fe, amor
                                y esperanza. Somos una familia comprometida en sembrar la Palabra
                                de Dios y ver vidas transformadas para su Gloria.
                                Aquí hay un lugar para ti. ¡Te esperamos!
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"> <i
                                    class="fab fa-instagram"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"> <i
                                    class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section" id="carousel">
        <div class="container">
            <div class="tim-title">
                <h3>Nuestras Actividades</h3>
            </div>
            <div class="row">
                <div class="col-md-10 mr-auto ml-auto">
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide *ngFor="let slide of slides; let i = index">
                                <img [src]="slide.img" alt="Slide {{ i + 1 }}">
                                <div class="carousel-caption">
                                    <p>{{ slide.caption }}</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
        <div class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
            <div class="container">
                <div class="youtube-container" *ngIf="videoUrl; else cargando">
                    <iframe width="560" height="315" [src]="videoUrl" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen>
                    </iframe>
                </div>
                <ng-template #cargando>
                    <p>Cargando el video más reciente...</p>
                </ng-template>
            </div>
        </div>
    </div>

    <div id="formulario" class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">¡Dios tiene un propósito contigo!</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nombre</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true"
                                        (blur)="focus=false">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Telefono</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="nc-icon nc-tablet-2"></i></span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="Telefono"
                                        (focus)="focus=true" (blur)="focus=false">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Queremos Orar por ti, cuentanos!!</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true"
                                        (blur)="focus1=false">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>¿Deseas que te llamemos para orar por ti?</label>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" checked="">
                                        Si
                                        <span class="form-check-sign"></span>
                                    </label>
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" checked="">
                                        No
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <label>Escribe un Motivo de Oración</label>
                        <textarea class="form-control" rows="4"
                            placeholder="Motivo de Oración"></textarea>

                        <div class="col-md-6">
                            <label>Acepto la política de privacidad</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="" checked="">
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Enviar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>