<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" routerLink="/">
                <img [src]="logo" alt="Logo" style="height: 60px; transition: 0.3s ease;">
            </a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ms-auto align-items-lg-center text-center">
                <!-- Redes sociales -->
                <li class="nav-item">
                    <a class="nav-link" href="https://wa.me/573001234567" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                        <span class="d-lg-none">WhatsApp</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/activatufefusagasuga/" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                        <span class="d-lg-none">Facebook</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/activatufefusagasuga" target="_blank">
                        <i class="fab fa-instagram"></i>
                        <span class="d-lg-none">Instagram</span>
                    </a>
                </li>

                <!-- Enlaces -->
                <li class="nav-item">
                    <a [routerLink]="['/enQueCreemos']" class="nav-link">
                        <i class="fas fa-bible me-2"></i>En Qué Creemos
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/calendario']" class="nav-link">
                        <i class="nc-icon nc-layout-11 me-2"></i>Horarios
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/donaciones']" class="nav-link">
                        <i class="fas fa-hand-holding-usd me-2"></i>Donaciones
                    </a>
                </li>

                <!-- Botones destacados -->
                <li class="nav-item mt-3 mt-lg-0">
                    <a (click)="scrollToFormulario()" class="btn btn-new w-100 w-lg-auto">Soy Nuevo</a>
                </li>
                <li class="nav-item mt-2 mt-lg-0 ms-lg-3">
                    <a class="btn btn-radio d-flex justify-content-center align-items-center gap-2 w-100 w-lg-auto"
                        href="https://www.facebook.com/ActivaTuFeRadio" target="_blank">
                        <i class="fas fa-broadcast-tower"></i>
                        <span>Radio En Vivo</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>