<footer class="footer-white">
    <div class="container">
        <div class="row footer-columns">
            <!-- Primera columna -->
            <div class="footer-col">
                <h5>Te esperamos en casa</h5>
                <p>
                    En la Iglesia El Sembrador nos importas tú, tu familia y
                    cada persona que hace parte de tu vida.
                    Queremos caminar contigo en el propósito de conocer y
                    seguir a Jesús. Conéctate con nuestra comunidad a través
                    de esta página web o por medio de nuestras redes sociales.
                </p>
            </div>

            <!-- Segunda columna -->
            <div class="footer-col">
                <h5>Contenido</h5>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Devocional</a></li>
                    <li><a href="#">Prédicas</a></li>
                    <li><a href="#">Sedes</a></li>
                </ul>
            </div>

            <!-- Tercera columna -->
            <div class="footer-col">
                <h5>Enlaces de interés</h5>
                <ul>
                    <li><a href="#">Política de tratamiento</a></li>
                    <li><a href="#">Oramos por ti</a></li>
                    <li><a href="#">PQRS</a></li>
                </ul>
            </div>

            <!-- Cuarta columna -->
            <div class="footer-col">
                <h5>El Sembrador</h5>
                <ul>
                    <li><a href="#">Misión</a></li>
                    <li><a href="#">Visión</a></li>
                    <li><a href="#">Teología integral</a></li>
                    <li><a href="#">Historia</a></li>
                    <li><a href="#">Pastor William Rodríguez</a></li>
                </ul>
            </div>

            <!-- Quinta columna -->
            <div class="footer-col">
                <h5>Datos de contacto</h5>
                <ul class="contact-list">

                    <li><i class="nc-icon nc-tablet-2"></i> Lunes a viernes 8 a.m. - 5 p.m.</li>

                    <li> <i class="nc-icon nc-tablet-2"></i> 3153468700</li>

                    <li><i class="nc-icon nc-world-2"></i> Carrera 6 #14-55 Barrio Coburgo, Fusagasuga, Colombia</li>

                </ul>
                <button [routerLink]="['/calendario']" routerLinkActive="active-link" class="btn-city">Nuestra
                    ubicación</button>
            </div>


            <!-- Sexta columna -->
            <div class="footer-col">
                <ul class="contact-list">

                    <div class="author-credit">
                        <p class="mb-0">© 2025 Iglesia El Sembrador. Todos los derechos reservados.</p>
                        <p class="mb-0">Diseñado y desarrollado por <a href="https://www.blessingcodeti.com/"
                                class="author-link">BlessingCodeTI</a></p>
                    </div>
                </ul>
            </div>

        </div>
    </div>
</footer>